@charset "utf-8";

$clr-theme-1: $clr-deep-orange-800;
$clr-theme-2: $clr-deep-orange-300;
$clr-theme-3: $clr-deep-orange-50;
$clr-theme-4: $clr-deep-orange-100;
$clr-theme-5: $clr-deep-orange-200;
$clr-theme-6: $clr-deep-orange-400;
$clr-theme-7: $clr-deep-orange-500;
$clr-theme-8: $clr-deep-orange-600;
$clr-theme-9: $clr-deep-orange-700;
$clr-theme-10: $clr-deep-orange-900;
$clr-theme-11: $clr-deep-orange-a100;
$clr-theme-12: $clr-deep-orange-a200;
$clr-theme-13: $clr-deep-orange-a400;
$clr-theme-14: $clr-deep-orange-a700;
